[gcode_arcs]
resolution: 0.1

#[gcode_macro G1]
#rename_existing: G1.0
#gcode:
#    {% set p=[] %}
#    {% for key in params %}
#      {% set p = p.append(key + params[key]) %}
#    {% endfor %}
#    {% if params.F is defined %}
#        {% set speed = params.F|int/60 %}
#        {% set pa = printer.configfile.settings.extruder.pressure_advance * ( 100 / speed ) %}
#        SET_PRESSURE_ADVANCE ADVANCE={pa}
#    {% endif %}
#    G1_BASE { p|join(" ") }

[gcode_macro M201]
description: Sets maximum acceleration.
  Usage: M201 [X<accel>] [Y<accel>]
variable_max_accel: 1.7976931348623157e+308
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set accel = (params.X|default(params.Y)|float,
                    params.Y|default(params.X)|float)|min %}
    SET_GCODE_VARIABLE MACRO=M201 VARIABLE=max_accel VALUE="{accel}"
    {% if accel > printer.toolhead.max_accel %}
		{% set accel = printer.toolhead.max_accel %}
    {% endif %}
	{% set decel_ratio = printer.toolhead.max_accel_to_decel / printer.toolhead.max_accel %}
    SET_VELOCITY_LIMIT ACCEL="{accel}" ACCEL_TO_DECEL="{accel * decel_ratio}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M203]
description: Sets maximum velocity.
  Usage: M203 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set velocity = (params.X|default(params.Y)|float,
                       params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT VELOCITY="{velocity}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

#[gcode_macro M204]
#description: Sets maximum acceleration.
#  Usage: M204 [S<accel>] [P<accel> T<accel>]
#rename_existing: M204.0
#gcode:
#  {% set f = params.F|default(0.5)|float %}
#
#  {% if 'S' in params %}
#    {% set s = params.S|float %}
#    SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
#  {% else %}
#    {% if 'P' in params %}
#      {% set p = params.P|float %}
#      {% if 'T' in params %}
#        {% set t = params.T|float %}
#        {% if p < t %}
#          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
#        {% else %}
#          SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
#        {% endif %}
#      {% else %}
#        SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
#      {% endif %}
#    {% elif 'T' in params %}
#      {% set t = params.T|float %}
#      SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
#    {% endif %}
#  {% endif %}

[gcode_macro M205]
description: Sets square corner velocity.
  Usage: M205 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set velocity = (params.X|default(params.Y)|float,
                       params.Y|default(params.X)|float)|min %}					
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={velocity}
  {% endif %}
  
#[gcode_macro M600]
#description: Pauses the current print.
#  Usage: M600 [B<beeps>] [E<pos>] [L<pos>] [R<temp>] [U<pos>] [X<pos>] [Y<pos>]
#              [Z<pos>]
#gcode:
#  {% set default_x = printer.toolhead.axis_minimum.x + 20 %}
#  {% set default_y = printer.toolhead.axis_minimum.y + 20 %}
#
#  {% set x = params.X|default(default_x)|float %}
#  {% set y = params.Y|default(default_y)|float %}
#  {% set z = params.Z|default(20)|float %}
#  {% set e = params.E|default(100)|float %}
#
#  {% if printer.pause_resume.is_paused %}
#    {action_respond_info("Already paused")}
#  {% elif printer.toolhead.homed_axes != "xyz" %}
#    {action_respond_info("Please home XYZ first")}
#  {% else %}
#    #PAUSE_PARK X={x} Y={y} Z={z}
#	PAUSE
#    M702 U{e}
#  {% endif %}


#[gcode_macro M601]
#description: Pauses the current print.
#  Usage: M601
#gcode:
#  PAUSE
#
#[gcode_macro M602]
#description: Resumes the currently paused print.
#  Usage: M602
#gcode:
#  RESUME


#[gcode_macro M701]
#gcode:
#  {% set i = params.I|default(30)|float %}
#  {% set i_f = params.IF|default(180)|float %}
#  {% set u = params.U|default(100)|float %}
#  {% set u_f = params.UF|default(360)|float %}
#  {% set p = params.P|default(30)|float %}
#  {% set p_f = params.PF|default(180)|float %}
#
#  {% if printer.idle_timeout.state == "Printing" and not printer.pause_resume.is_paused %}
#    {action_respond_info("This command cannot be used while printing")}
#  {% elif printer.extruder.temperature < 170 %}
#    {action_respond_info("Extruder temperature too low")}
#  {% else %}
#    SAVE_GCODE_STATE NAME=M701_state
#    M83
#    {% if i > 0.0 %}
#      G1 E{i} F{i_f}
#    {% endif %}
#    {% if u > 0.0 %}
#      G1 E{u} F{u_f}
#    {% endif %}
#    {% if p > 0.0 %}
#      G1 E{p} F{p_f}
#    {% endif %}
#    RESTORE_GCODE_STATE NAME=M701_state MOVE=0
#  {% endif %}


#[gcode_macro M702]
#gcode:
#  {% set p = params.P|default(8)|float %}
#  {% set p_f = params.PF|default(180)|float %}
#  {% set i = params.I|default(30)|float %}
#  {% set i_f = params.IF|default(180)|float %}
#  {% set u = params.U|default(100)|float %}
#  {% set u_f = params.UF|default(360)|float %}
#
#  {% if printer.idle_timeout.state == "Printing" and not printer.pause_resume.is_paused %}
#    {action_respond_info("This command cannot be used while printing")}
#  {% elif printer.extruder.temperature < 170 %}
#    {action_respond_info("Extruder temperature too low")}
#  {% else %}
#    SAVE_GCODE_STATE NAME=M702_state
#    M83
#    {% if p > 0.0 %}
#      G1 E{p} F{p_f}
#    {% endif %}
#    {% if i > 0.0 %}
#      G1 E-{i} F{i_f}
#    {% endif %}
#    {% if u > 0.0 %}
#      G1 E-{u} F{u_f}
#    {% endif %}
#    RESTORE_GCODE_STATE NAME=M702_state MOVE=0
#  {% endif %}

[gcode_macro M900]
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
      SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
    {% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K}
    {% endif %}
  {% endif %}
